.App {
  position: relative;
  top: 10rem;
  background: rgb(46, 42, 100);
  border: 1px solid #777;
  inline-size: 40rem;
  block-size: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: .3rem;
}
.form{
  display: flex;
  flex-direction: column;
  inline-size: 30rem;
  padding: 1rem;
  background: #fff;
  border-radius: .5rem;
}

.input-email, .input-pass{
  padding: .7em;
  border-radius: .5rem;
  border: none;
  border-bottom: 1px solid #999;
  margin-bottom: .5rem;
}

.button-login{
  padding: .7rem;
  margin-top: 1rem;
  border-radius: .5rem;
  border: none;
  background: #999;
  font-size: .9rem;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.button-login:hover{
  background: #666;
  color: #FFF;
  font-weight: 700;
}

.label-email{
  color: red;
  font-weight: 700;
}

